@import "_fonts.scss";

html {
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 37px;
}
