---
import '../styles/navigation.scss';
import '../styles/_buttons.scss';
import logo from '../images/logo-catalogic-colored.svg';
---

<div class="navigation">
  <div class="navigation__left">
  <img class="navigation__logo" src={logo.src}>
    <a href="/">Home <b>+</b></a>
    <a href="/about">About <b>+</b></a>
    <a href="/blog">Blog <b>+</b></a>
    </div>
    <div class="navigation__right">
      <button class="button button__big">Request demo</button>
    </div>
  </div>